/**************************************
Global elements
***************************************/
body {
  font-family: Helvetica, sans-serif;

}
 * {
   box-sizing: border-box;
 }

ul {
  padding: 0;
}
img {
  max-width:100%;
}

/*********************
Whole container
*********************/

.octodex::after {
  content: "";
  display: block;
  clear: both;
}

/*********************
Individual containers
*********************/
.octocat {
  float: left;
  width: 31.103%;
  list-style: none;
  margin-left: 1.6724739%;
}

.octocat > a {                 /*[href="http://(name of link)"]*/
  display: inline-block;
  border: solid 1px gray;
  border-radius: 2px;
  padding: 10px;

}

/*********************
Footer
*********************/

.image-footer{
  border-bottom: 1px solid gray;
  font-size: 8px;
  padding: 12px 0;
  line-height: 29px;
  vertical-align: middle;


}
.image-footer img{
  /*width: 6.2780269%;*/
  width: 29px;
  height: 29px;
}
.image-caption {
  float: right;
  line-height: 29px;
  vertical-align: middle;

}
.image-caption a {
  text-decoration: none;
  color: rgba(50, 51, 51, 1);
  font-weight: bold;
}

.authors, .authors li {
  display: inline-block;
}
.authors a {
  width: 29px;
  height: 29px;
  display: inline-block;
}
